@charset "utf-8";
/* CSS Document */

* {
	padding: 0px;
	margin: 0px;
}
body {
	font-family: 'Work Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Work Sans', sans-serif;
}
a {
	outline: none !important;
}
/*-----Header & Banner Starts-------*/
.navbar-brand {
	font-family: 'Work Sans', sans-serif;
	color: #ffffff;
	font-size: 26px;
}
.navbar-brand:hover {
	color: #EB233C;
}
.navbar-toggle {
	background-color: #fff;
}
.navbar-toggle .icon-bar {
	background-color: RGBA(0, 0, 0, 0.48);
}
.banner {
	background-attachment: fixed;
	background-color: #645862;
	background-image: url(images/background.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	cursor: default;
	text-align: center;
	width: 100%;
	float: left;
}
.bg-overlay {
	padding: 280px 0 220px;
	background-color: RGBA(15, 5, 20, 0.84);
}
.banner-text h2 {
	font-size: 50px;
}
.banner-text h2 span {
	color: #EB233C;
}
.banner-text p {
	font-size: 15px;
}
.banner-button {
	border: rgba(204, 204, 204, 0.18) 1px solid;
	padding: 12px 35px;
	color: #ccc;
	text-decoration: none;
	display: inline-block;
	border-radius: 25px 25px 25px 25px;
	font-size: 15px;
	margin-top: 50px;
}
.banner-button:hover {
	background-color: #ccc;
	text-decoration: none;
	color: #000;
}
.mynav {
	transition: all 0.8s ease-in;
	background: rgb(68, 51, 68) none repeat scroll 0% 0%;
}
.mynav li a {
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.nav > li > a:focus, .nav > li > a {
	color: #E1DBDB;
}
.nav > li > a:focus, .nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a {
	background-color: #665566;
	color: #fff;
	border-bottom: 2px solid #EB233C;
}
.navbar-nav > li > a {
	padding-top: 15px;
	padding-bottom: 13px;
}
/*-----Header & Banner Ends-------*/

/*-----Features Starts-------*/
.features {
	padding: 100px 0px;
	float: left;
	width: 100%;
}
.icon-box {
	position: relative;
	width: 70px;
	height: 70px;
	margin: 0px;
	display: inline-box;
	border: rgba(204, 204, 204, 0.18) 1px solid;
	;
	border-radius: 50%;
	padding: 0px !important;
}
.icon-box i {
	line-height: 70px;
	font-size: 25px;
	color: #EB233C;
}
.feature-text {
	padding-left: 20px;
}
.feature-text h4 {
	color: rgb(68, 51, 68);
}

/*-----Features Ends-------*/


/*-----Portfolio or Work Starts-------*/

.portfolio {
	padding: 50px 0;
	background-color: rgba(241, 241, 241, 0.26);
	float: left;
	width: 100%;
}
.portfolio-item {
	margin-bottom: 30px;
}
.img-portfolio {
	margin: 0 auto;
}
.img-portfolio:hover {
	opacity: 0.8;
}
.portfolio h3 {
	margin-top: 0px;
	margin-bottom: 50px;
	border-bottom: 2px solid #EB233C;
	display: inline-block;
	line-height: 35px;
}
.view-more {
	padding: 12px 35px;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	border-radius: 25px 25px 25px 25px;
	font-size: 15px;
	background-color: #EB233C;
	margin-top: 20px;
}
.view-more:hover {
	text-decoration: none;
	color: #ffffff;
}

/*-----Portfolio or Work Ends-------*/







/*-----About Starts-------*/
.about #about1{
	padding: 50px 0px;
	width: 100%;
	border-color: #000;
	
}
.about #about1  {
	margin-top: 0px;
	margin-bottom: 50px;
	border-bottom: 2px solid #4e181f;
	
	line-height: 35px;
}
.about-text #about1 p {
	font-size: 15px;
	font-weight: 300;
}

.block {
	padding-left: 0px !important;
}
/*-----About Ends-------*/

/*-----About2 Starts-------*/
.about #about2{
	padding: 50px 0px;
	width: 100%;
	border-color: #000;
	
	
	background-color: #ffffff;
}

.about-text  #about2{
	font-size: 15px;
	font-weight: 3;
	font-stretch: expanded;
}

.block {
	padding-left: 0px !important;
}
/*-----About2 Ends-------*/



@media (min-width:0px) and (max-width: 600px) {
.bg-overlay {
	padding: 180px 0 120px;
}
.banner-text h2 {
	font-size: 35px;
}
nav > li > a:focus, .nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a {
	border-bottom: none;
	;
}
.features, .about, .portfolio, .contact, .testimonials {
	padding: 50px 0px;
}
}
#lion{
	margin-left: 100%;
	position: absolute;
	height: 60%;
	
}
#scan{
margin-left: 100%;
	position: absolute;
	width: 95%;

}
#labels{
margin-left: 100%;
	position: absolute;
	height: 220px;
	width :400ps;
	
}
#church{
	margin-left: 100%;
		position: absolute;
		height: 300px;
		
	}
	#soldeirs{
		margin-left: 100%;
			position: absolute;
			
			
		}

		#mouse{
			margin-left: 100%;
				position: absolute;
				
				
			}